input[type="radio"] {
  display: none;
}

.credit-drop, .upi-drop, .cash-drop {
  padding: 10px;
}

.credit-drop label, .upi-drop label, .cash-drop label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.credit-drop .credit-drp, .upi-drop .upi-drp, .cash-drop .cash-drp {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

input[type="radio"]:checked + label + .credit-drp,
input[type="radio"]:checked + label + .upi-drp,
input[type="radio"]:checked + label + .cash-drp {
  max-height: 300px;
  padding: 10px 10px 20px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: white;
  width: 40%;
  height: 50%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px black;
}

.popup-content button {
  margin-top: 20px;
}


